public/wsdl/contact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ContactService"
    targetNamespace="http://contact.com/wsdl"
    xmlns:tns="http://contact.com/wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://contact.com/wsdl">
            <xsd:element name="GetContactRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetContactResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="phone" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="GetContactRequestMessage">
        <part name="parameters" element="tns:GetContactRequest"/>
    </message>

    <message name="GetContactResponseMessage">
        <part name="parameters" element="tns:GetContactResponse"/>
    </message>

    <portType name="ContactPort">
        <operation name="GetContact">
            <input message="tns:GetContactRequestMessage"/>
            <output message="tns:GetContactResponseMessage"/>
        </operation>
    </portType>

    <binding name="ContactBinding" type="tns:ContactPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetContact">
            <soap:operation soapAction="http://contact.com/wsdl/GetContact"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="ContactService">
        <port name="ContactPort" binding="tns:ContactBinding">
            <soap:address location="http://127.0.0.1:8000/api/soap"/>
        </port>
    </service>

</definitions>
